/* 添加 CSS */
	  body{
	     font-family:sans-serif,Georgia,"Microsoft YaHei";
		 font-size:14px;
		 line-height:22px;
	  }
	  img{
	     margin:10px 0;
	  }
	  #container{
	     width:510px;
		 margin:0 auto;
		 padding:10px;
		 -webkit-box-shadow: 6px 7px 8px -1px rgba(0,0,0,0.67);
		 -moz-box-shadow: 6px 7px 8px -1px rgba(0,0,0,0.67);
		 box-shadow: 6px 7px 8px -1px rgba(0,0,0,0.67);
		 border-radius: 4px 4px 4px 4px;
		 -moz-border-radius: 4px 4px 4px 4px;
		 -webkit-border-radius: 4px 4px 4px 4px;
		 border:1px solid gray;
	  }
	  .description{
	     width:90%;
		 margin:0 auto;
	     margin-top:25px;
	  }
	  ul{
		 margin:30px 0;
		 padding:0;
	  }
	  ul li{
	    list-style:none;
		padding-left:0;
		
	  }
	  ul li span{
	    font-weight:bold;
	  }